/*Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.fontThin {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
}

.fontLight {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.fontRegular {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}


.fontMedium {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.fontBold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.fontBlack {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

